SUPABASE_URL=https://deefhdxhxfusbzlwhtlv.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRlZWZoZHhoeGZ1c2J6bHdodGx2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4NTcyNjEsImV4cCI6MjA5NDQzMzI2MX0.uDxXZyDwNLEbH6q0rQLCa35ERJ3nQgTlwr_ZFE5Elco
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRlZWZoZHhoeGZ1c2J6bHdodGx2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODg1NzI2MSwiZXhwIjoyMDk0NDMzMjYxfQ.fMfZmRm6whkqXt7UuKPRwXYhKDMvi23ZfqdHKTxQ_MU
LLM_API_KEY=AIzaSyDNeOTem00bUq-eBT1LX4PBJ_hrHg-sE-c
LLM_MODEL=gemini/gemini-2.0-flash-lite
JWT_SECRET=GrjDgYSO97o2ki0AIFr9D+/cn8lFFyC+LtGdNZuBJHVpe2RWzbqw9d/yqfUIxsL0yRLozWPuObIJf1taglDNCw==
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=3600
