SUPABASE_URL=https://oprmadkzbolerijzbsjc.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9wcm1hZGt6Ym9sZXJpanpic2pjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczNjE2ODUsImV4cCI6MjA5MjkzNzY4NX0.zm23fNPGawdatwszOg5Jdg54Lin8A9fLkH4oYeCzlyw
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9wcm1hZGt6Ym9sZXJpanpic2pjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzM2MTY4NSwiZXhwIjoyMDkyOTM3Njg1fQ.8TBS99Szf3smJX4FSBbgHfJgNwK5597p4uhe6296Z1s
GEMINI_API_KEY=AIzaSyBcEcYYk-FDsLP_GqeKRYoTggqVaVmWZfQ
JWT_SECRET=CAoteuElQkmAKvJTmSnx0+ni2FR2agC8jmBTHY/rTf6yF3WcorogreUxnMnj2TUqTHX9UtjSG4ovdGnxVnP8lw==
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080
